<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.board.BoardMapper">
    <insert id="postBoard">
        INSERT INTO board
        (title, contents, writer)
        VALUES
        (#{title}, #{contents}, #{writer})
    </insert>

    <select id="getBoardList">
        SELECT board_id as boardId, title, writer, created_at as createdAt
        FROM board
        ORDER BY board_id DESC
    </select>


    <delete id="deleteBoard">
        DELETE FROM board
        WHERE board_id = #{board_id}
    </delete>
</mapper>